:plain
  You're signed up to #{root_url}

  A place for you to tell stories with your friends.

  So if you're not getting the help you need (or run into a bug,) let us know by emailing: edward.w.roman@gmail.com

  Cheers,
  Cyrus, Janet, and Ed