%p
  = link_to "Improv", root_url

%p A place for you to tell stories with your friends.
%p
  So if you're not getting the help you need (or run into a bug,)
  = mail_to "edward.w.roman@gmail.com", "let us know!"
%p
  Cheers,
  %br
  Cyrus, Janet, and Ed