html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml"

/ TODO: Make this load your friends list from the server-side, and then display those users via clickboxes.
/ User then sends messages to multiple friends in-mass via JS or URL.

h1 Invite Friends

#main_home

  table
    - @friends.each do |friend|
      tr
        td.picture
          p
          = image_tag friend[:pic_square]
        td.name
          p
          = friend[:name]
        td.action
          = button_tag "Invite", :id => "post_#{friend[:uid]}", :class => 'button blue small post_to_friend_feed'


javascript:

  // Initialize Facebook
  window.fbAsyncInit = function() {
      FB.Flash.hasMinVersion = function () { return false; };
      FB.init({
          appId: '#{Rails.configuration.facebook_token}',
          status: true,
          cookie: false,
          channelUrl: '//#{APP_CONFIG['server_host']}/channel.html',
          oauth: true
      });
      FB.Event.subscribe('auth.statusChange', handleStatusChange);
  };

  // Load the SDK Asynchronously
  (function(d) {
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      ref.parentNode.insertBefore(js, ref);
  }(document));

  // For debugging - once we are logged in and authorized
  function handleStatusChange(response) {
      document.body.className = response.authResponse ? 'connected' : 'not_connected';

      if (response.authResponse) {
          // Could theoretically use this for debugging
      }
  }

  // All API calls go here
  $(document).ready(function () {

      $(".post_to_friend_feed").click(function(){

          var $id = this.id.substring(5);

          var obj = {
            method: 'feed',
            name: '#{current_user.name} has invited you to create a story together!',
            link: 'http://www.ALittleTale.com',
            to: $id,
            caption: 'A Little Tale',
            description: '...tell stories with your friends!'
            // useful if we want the callback to go to our site, rather than the JavaScript, so we can  log an event for inviting someone
            // redirect_uri: 'http://edro.no-ip.org:3000/blah',
          };

          // Useful for doing stuff after we get a callback
          function callback(response) {
            document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
          }

          FB.ui(obj, callback);
      });

      $("#batch_post_to_friend_feed").click(function(){

          // Useful for doing stuff after we get a callback
          function callback(response) {
            if (!response) {
              console.log("No response!");
            }
            else if (response.error) {
              console.log("Error!  Response object:");
              console.log(response);
            } else {
              // Iterate through each Response
              for(var i=0,l=response.length; i<l; i++) {
                // If we have set 'omit_response_on_success' to true in the Request, the Response value will be null, so continue to the next iteration
                if(response[i] === null) continue;

                // Else we are expecting a Response Body Object in JSON, so decode this
                var responseBody = JSON.parse(response[i].body);

                // If the Response Body includes an Error Object, handle the Error
                if(responseBody.error) {
                  // do something useful here
                  console.log(responseBody.error.message);
                }
                // Else handle the data Object
                else {
                  // do something useful here
                }
              }
            }
          }

          console.log(FB.getAuthResponse().accessToken);

          FB.api(
            "/",
            "POST",
            {
              access_token: FB.getAuthResponse().accessToken,
              batch:[
                {
                  "method":"POST",
                  "relative_url":"/100003817718116/feed",
                  "body":"name=Let's create a story together!&link=http://www.ALittleTale.com&caption=A Little Tale -- telling stories with friends&description="
                },
                {
                  "method":"POST",
                  "relative_url":"/100003817718116/feed",
                  "body":"name=Let's create a story together!&link=http://www.ALittleTale.com&caption=A Little Tale -- telling stories with your friends&description="
                }
              ]
            },
            callback
          );
      });
  });

