extends layout

block content
	center
		h1 A Tall Tale - Stories made with Friends
		p
		br
		p Sign In | Logout
		p
		br
		p The top voted story each week WINS a new iPhone 5 or iPad Mini!
		br
		p Tell your own stories with friends - click here to download "A Tall Tale" iPhone app!
		br
		p
	br
	leftCol
		b
			u Most Recent Stories
		- games.each( function(game) {
			br
			br
			b By #{game.get("creator").id} and #{game.get("invitee").id}
			br
			- game.turns.each( function(turn) {
			= turn.get("turn");
			- });
			p
			a(href='/vote/#{game.id}') Vote on this story!
			p
		- });
	rightCol
		b
			u Highest Voted Stories
		p= games
