extends layout

block content
	center
		h1 A Tall Tale - Stories made with Friends
		p
		br
		p Sign In | Logout
		p
		br
		p The top voted story each week WINS a new iPhone 5 or iPad Mini!
		br
		p Tell your own stories with friends - click here to download "A Tall Tale" iPhone app!
		br
		p
	b
		u
			Most Recent Stories
	br
	p= games
