doctype 5
html
	head
		title A Tall Tale
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
	center
		h1 A Tall Tale - Stories made with Friends
		p
		br
		p Sign In | Logout
		p
		br
		p The top voted story each week WINS a new iPhone 5 or iPad Mini!
		br
		a(href='https://itunes.apple.com/') Tell your own stories with friends - click here to download "A Tall Tale" iPhone app!
		br
		p
	block content