extends layout

block content
	br
	b
		u Highest Voted Stories
	- games.each( function(game) {
		br
		br
		b By #{game.get("creator").id} and #{game.get("invitee").id}
		br
		- game.turns.each( function(turn) {
		= turn.get("turn");
		- });
		p #{game.get("votes")} votes
		p
		a(href='/vote/#{game.id}') Vote on this story!
		p
	- });
