/ Lobby, showing list of current games

#main_home
  br
  = button_to 'Start a new game!', new_story_path, :method => 'get', :class => 'button blue'
  br
  = button_to "Invite friends to play with you!", invites_path, :method => 'get', :class => 'button blue'
  br
  = button_tag "Share this game on your Facebook wall", :id => :post_to_my_feed, :class => 'button blue'
  / p
  / = button_tag "Invite friends to play with you!", :id => :message_friends, :class => 'button blue'
  / p
  / = button_tag "Invite friends to play with you!", :id => :post_to_friend_feed, :class => 'button blue'
  / p
  / = button_tag "Invite friends to play with you!", :id => :batch_post_to_friend_feed, :class => 'button blue'
  / p

  - if @unfinished_count > 0
    h1 Current games

    table
      - @stories.each do |story|
        - if !story.finished
          tr
            td.sentence
              b Game #{story.number} with #{story.partner_of(current_user).first_name}
              br
              = story.all_sentences_preview
            td.action
              - if story.my_turn?(current_user)
                br
                = button_to 'Play', edit_story_path(story), :method => 'get', :class => 'button blue small'
                /br
                /= button_to 'Give Up', story, confirm: 'Are you sure?', method: :delete, :class => 'button blue small'
              - else
                /= button_to 'Waiting'
                br
                = button_to 'Nudge', nudge_partner_story_path(story), :method => 'get', :class => 'button blue small'
                /= button_to "Nudge #{story.partner_of(current_user).first_name}", nudge_partner_story_path(story), :method => 'get'
                /br
                /= button_to 'Give Up', story, confirm: 'Are you sure?', method: :delete, :class => 'button blue small'


  - if @finished_count > 0
    h1 Finished games

    table
      - @stories.each do |story|
        - if story.finished
          tr
            td.sentence
              b Game #{story.number} with #{story.partner_of(current_user).first_name}
              br
              = story.all_sentences_preview
            td.action
              - if story.finished
                br
                = button_to 'View', story_path(story), :method => 'get', :class => 'button blue small'
                /br
                /= button_to 'Delete', story, confirm: 'Are you sure?', method: :delete
              /br

javascript:

  // Initialize Facebook
  window.fbAsyncInit = function() {
      FB.Flash.hasMinVersion = function () { return false; };
      FB.init({
          appId: '#{Rails.configuration.facebook_token}',
          status: true,
          cookie: false,
          channelUrl: '//#{APP_CONFIG['server_host']}/channel.html',
          oauth: true
      });
      FB.Event.subscribe('auth.statusChange', handleStatusChange);
  };

  // Load the SDK Asynchronously
  (function(d) {
      var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js";
      ref.parentNode.insertBefore(js, ref);
  }(document));

  // For debugging - once we are logged in and authorized
  function handleStatusChange(response) {
      document.body.className = response.authResponse ? 'connected' : 'not_connected';

      if (response.authResponse) {
          // Could theoretically use this for debugging
      }
  }

  // All API calls go here
  $(document).ready(function () {

      // Request invite your friends.  Only for Canvas apps.
      $("#invite_friends").click(function(){
          FB.ui({
              method: 'apprequests',
              message: '#{current_user.name} has invited you to create a story together!',
              display: 'popup'
          });
      });

      // Message invite your friends.  Not supported on mobile.
      $("#message_friends").click(function(){
          var obj = {
            method: 'send',
            name: '#{current_user.name} has invited you to create a story together!',
            link: 'http://www.ALittleTale.com',
            // useful if we want the callback to go to our site, rather than the JavaScript, so we can  log an event for inviting someone
            // redirect_uri: 'http://edro.no-ip.org:3000/blah',
            show_error: 'true',
            display: 'popup'
          };

          // Useful for doing stuff after we get a callback
          function callback(response) {
            // alert("callback!");
          }

          FB.ui(obj, callback);
      });

      $("#post_to_my_feed").click(function(){

          var obj = {
            method: 'feed',
            name: 'Let\'s make a story together!',
            link: 'http://www.ALittleTale.com',
            caption: 'A Little Tale',
            description: '...make stories with your friends!'
            // useful if we want the callback to go to our site, rather than the JavaScript, so we can  log an event for inviting someone
            // redirect_uri: 'http://edro.no-ip.org:3000/blah',
          };

          // Useful for doing stuff after we get a callback
          function callback(response) {
            document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
          }

          FB.ui(obj, callback);
      });

      $("#post_to_friend_feed").click(function(){

          var obj = {
            method: 'feed',
            name: '#{current_user.name} has invited you to create a story together!',
            link: 'http://www.ALittleTale.com',
            to: '221293',
            caption: 'A Little Tale',
            description: '...tell stories with your friends!'
            // useful if we want the callback to go to our site, rather than the JavaScript, so we can  log an event for inviting someone
            // redirect_uri: 'http://edro.no-ip.org:3000/blah',
          };

          // Useful for doing stuff after we get a callback
          function callback(response) {
            document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
          }

          FB.ui(obj, callback);
      });

      $("#batch_post_to_friend_feed").click(function(){

          // Useful for doing stuff after we get a callback
          function callback(response) {
            if (!response) {
              console.log("No response!");
            }
            else if (response.error) {
              console.log("Error!  Response object:");
              console.log(response);
            } else {
              // Iterate through each Response
              for(var i=0,l=response.length; i<l; i++) {
                // If we have set 'omit_response_on_success' to true in the Request, the Response value will be null, so continue to the next iteration
                if(response[i] === null) continue;

                // Else we are expecting a Response Body Object in JSON, so decode this
                var responseBody = JSON.parse(response[i].body);

                // If the Response Body includes an Error Object, handle the Error
                if(responseBody.error) {
                  // do something useful here
                  console.log(responseBody.error.message);
                }
                // Else handle the data Object
                else {
                  // do something useful here
                }
              }
            }
          }

          console.log(FB.getAuthResponse().accessToken);

          FB.api(
            "/",
            "POST",
            {
              access_token: FB.getAuthResponse().accessToken,
              batch:[
                {
                  "method":"POST",
                  "relative_url":"/100003817718116/feed",
                  "body":"name=Let's create a story together!&link=http://www.ALittleTale.com&caption=A Little Tale -- telling stories with friends&description="
                },
                {
                  "method":"POST",
                  "relative_url":"/100003817718116/feed",
                  "body":"name=Let's create a story together!&link=http://www.ALittleTale.com&caption=A Little Tale -- telling stories with your friends&description="
                }
              ]
            },
            callback
          );
      });
  });
