// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$width-iphone: 320px;
$padding-iphone: 20px;
$interior-iphone:$width-iphone - 2*$padding-iphone;

#main_home{
  padding-left: $padding-iphone;
  padding-right: $padding-iphone;
  padding-bottom: 0;
  max-width: $interior-iphone;
}

h2{
  font-size: 17px;
  color: #888888;
  text-align: left;
}

content{
  height:100%;
  padding-bottom: 20px;   /* Height of the footer */
  max-width: $width-iphone;
  width: $width-iphone;
}

header {
  width: 100%;
  font-size: 14px;
  max-width: $width-iphone;
  color: #05E9FF;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #707070; /*for  non-css3 browsers */
  background: -webkit-gradient(linear, center bottom, center top, from(#707070), color-stop(50%,#888888), to(#B8B8B8));
  background: -moz-linear-gradient(90deg, #707070, #888888, #B8B8B8);
  a {
    padding: 0em 2em;
    color: #05E9FF;
    &:visited {
      color: #05E9FF; }
    &:hover {
      color: #05E9FF;
       } }

}

footer {
  font-size: 12px;
  clear: both;
  position: relative;
  bottom: 0;
  height: 20px;   /* Height of the footer */
  background: #fff;
  max-width: $width-iphone;
  padding-left: $padding-iphone;
}

#sentence{
  width: $interior-iphone;
}

.button{
  width: $interior-iphone - 40px;
  text-align: center;
  background-color: #05E9FF;
  border: 1px solid #05E9FF;
  color: #000;
  text-decoration: none;

}

table{
  bgcolor: gray;
  border: 1px solid black;
}