// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main_home{
  padding-left: 22px;
  padding-bottom: 0;
  max-width: 320;
  width:320;
}

h2{
  font-size: 20px;
  color: #888888;
  text-align: center;
}

#content{
  padding-left: 22px;
  padding-bottom: 0;
  max-width: 320;
  width:320;
}