$width-iphone:320px;
$padding-iphone: 20px;
$interior-iphone:$width-iphone - 2*$padding-iphone;

html{
  margin:0;
  padding:0;
  height:100%;}

#container{
  min-height:100%;
  position:relative;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  min-height:100%;
  position:relative;}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 10px;
  line-height: 14px; }

h1  {
  font-size: 20px;
  text-align: center;
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: $width-iphone;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #05E9FF;
    } }


div {
  &.field{
    color:purple;
    font-size: 16px;
    margin-bottom: 10px;
  }
  &.actions{

  }
}

#notice {
  color: green; }

.field_with_errors {
  padding: 0px;
  background-color: purple;
  border: 1px solid purple;
  display: table;
}

#error_explanation {
  max-width: $width-iphone - $padding-iphone;
  border: 2px solid purple;
  padding: 1px;
  padding-bottom: 5;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  h4 {
    color: purple;
    text-align: left;
    font-weight: bold;
    padding: 2px 2px 2px 2px;
    font-size: 15px;
    margin: -2px;
    margin-bottom: 0px;
    background-color: #f0f0f0; }
  ul li {
    color: purple;
    font-size: 10px;
    list-style: square; } }


#flash_messages{

}