$width-iphone:320px;
$padding-iphone: 22px;

html{
  height:100%;}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;
  min-height:100%;
  position:relative;}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

h1  {
  font-size: 20px;
  color: #05E9FF;
  text-align: center;
  background: #707070; /*for  non-css3 browsers */
  background: -webkit-gradient(linear, center bottom, center top, from(#707070), color-stop(50%,#888888), to(#B8B8B8));
  background: -moz-linear-gradient(90deg, #707070, #888888, #B8B8B8);
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: $width-iphone;
}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #05E9FF;
    background-color: #fff; } }


div {
  &.field{
    color:purple;
    font-size: 16px;
    margin-bottom: 10px;
  }
  &.actions{

  }
}

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: #fff;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid purple;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h4 {
    color: purple;
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 20px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #f0f0f0; }
  ul li {
    color: purple;
    font-size: 12px;
    list-style: square; } }


#flash_messages{

}