// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$width-iphone:320px;
$padding-iphone: 20px;

#new_user{
  padding-left: $padding-iphone;
  padding-bottom: 0;
  max-width: $width-iphone;
  width: $width-iphone;

}