// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#new_user{
  padding: 22px;
  padding-bottom: 0;
  max-width: 320;
  width:320;

}