%section.sign_up
  -#  = link_to "/auth/linkedin" do
  -#    = image_tag 'sign_up_linkedin.png'
  = link_to "/auth/facebook" do
    = image_tag 'sign_up_facebook.png'
  -#  = link_to "/auth/twitter" do
  -#    = image_tag 'sign_up_twitter.png'
