%header#header
  .inner_container
    = link_to root_path, :id => 'logo' do
      Home
%ul
  - if current_user
    Welcome
    = current_user.first_name
    = link_to 'Sign out', :sign_out
  - elsif current_page?(root_path)
    = render 'sign_up'